<div class="grid " id="view-task">
    <br />
    <h3><b>Tasks:</b></h3>
    <div class="row ml-3">
        <div class="container" align="left">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let view of taskViews">
                        <td>{{view.taskName}}</td>
                        <td *ngIf="view.category==null">
                            <div></div>
                        </td>
                        <td *ngIf="view.category!=null">
                            <div>{{view.category.category}}</div>
                        </td>
                            
                        <td>{{view.description}}</td>
                        <td>{{view.dueDate}}</td>
                        <td [ngSwitch]="view.isComplete">
                            <div *ngSwitchCase="true">complete</div>
                            <div *ngSwitchCase="false">incomplete</div>
                            <div *ngSwitchCase="null">incomplete</div>
                        </td>
                        <td [ngSwitch]="view.isComplete">
                            <button *ngSwitchCase="true" (click)="markIncomplete(view)">Mark Incomplete</button>
                            <button *ngSwitchCase="false" (click)="markComplete(view)">Mark Complete</button>
                            <button *ngSwitchCase="null" (click)="markComplete(view)">Mark Complete</button>
                        </td>
                        <td> 
                            <button (click)="delete(view)">Delete</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>
<br>