<app-navigation></app-navigation>
<div class="justify-content-center landing">
    
    <div class="landing-content">
        <div class="landing-title">
            <h1 class="ml-4 ml-sm-4 ml-lg-4">Welcome to my Task Application!</h1>
        </div>
        <div class="ml-4 ml-lg-4 ml-sm-4 ml-lg-4">
            <h4>
                <br />
                <div>Please log in with the provided credentials to view the app:<br /></div>
                <br />
                <div>Username: demo_user</div>
                <div>Password: password</div>
                <br />
                <br />
                <div><button><a routerLink="/login">Log in</a></button><button><a routerLink="/signup">Sign up</a></button></div>                    
            </h4>
        </div>
        <hr />
        <div class="landing-sub-header">
            <h1 class="ml-4 ml-sm-4 ml-lg-4">About this Application</h1>
        </div>
        <div class="ml-2 ml-lg-4 ml-sm-4 ml-lg-4 col-12 col-sm-12 col-lg-12 landing-sub-body">
            <h4>
                <br />
                This is my full-stack application to manage tasks.
                <br />
                <br />
                Users can create tasks with description, deadline, category, and deadline for the task and the app will store and
                display the data.
                <br />
                <br />
                When the task has been completed, users can mark the tasks as complete, and if necessary, completed tasks can be
                marked
                as incomplete.
                <br />
                <br />
                To run this project from source:
                <br />
                <li>clone the repository</li>
                <br />
                For back-end:
                <li>in the application.properties, setup the correct credential and ulr for datasource (spring.datasource.url,
                    username, and
                    password)</li>
                <li>setup the proper port (server.port)</li>
                <li>run the Java Spring application</li>
                <br />
                For front-end:
            
                <li>navigate into the myAppUI directory</li>
                <li>run 'npm install' to install the app's dependencies</li>
                <li>Fix/customize the url to backend calls in the task.service.ts</li>
                <li>run 'ng serve' (options to specify host and port: example --host 0.0.0.0 --port 80) to run the front end Angular
                    application</li>
                <li>open localhost:4200 (other host and port specified in the command above) from a web browser</li>
                <br />
                The app is deployed in AWS. The link to the project can be found in my <a href="https://91jaeminjo.github.io/portfolio">portfolio.</a>
                
            </h4>
        </div>
        
    </div>
    
</div>

