<app-navigation></app-navigation>
<div class="container-fluid landing">
    <div class="greeting">
        <br />
        <br />
        <h1>Welcome to my Task Application!</h1>
        
    </div>
    <div class="landing-content">
        <h4>
            <br />
            <br />
            Please log in with the provided credentials to view the app:<br />
            <br />
            Username: demo_user<br />
            Password: password
            <br/>
            <br />
            <a routerLink="/login">Log in</a>
            <br />
            <a routerLink="/signup">Sign up</a>
        </h4>
    </div>
</div>

