button{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    a{
        text-decoration: none;
        color:white;
    }
}
.landing-title{
    color:rgb(196, 196, 196);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor:default;
    &:hover{
        color:white;
    }
    background-color: #4C5B6B;
}
.landing-sub-header{
    color:rgb(196, 196, 196);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor:default;
    &:hover{
        color:white;
    }
    background-color: #4C5B6B;
}
.landing { 
    overflow-x:hidden;
}

.landing-sub-body{    
    width:95vw;
    a{
        text-decoration:none;
    }
}