<h4><b>Current Weather :</b></h4>
<div class="grid ">
    <div class="row ml-3">
        <div class="col-sm-3 m-2">

            <form [formGroup]="zipcodeWeatherForm" (ngSubmit)="onZipcodeWeatherSubmit()">
                <label for="zipcode"><h6>Zipcode</h6></label>
                <input class="form-control" type="text" formControlName="zipcode" placeholder = "Zip Code">
                <button type="submit" [disabled]="!zipcodeWeatherForm.valid">Submit</button>
            </form>
            <br>
            <form [formGroup]="cityWeatherForm" (ngSubmit)="onCityWeatherSubmit()">
                <label for="city"><h6>City</h6></label>
                <input class="form-control" type="text" formControlName="city" placeholder = "City">

                <label for="state"><h6>State</h6></label>
                <input class="form-control" type="text" formControlName="state" placeholder = "State">
                <button type="submit" [disabled]="!cityWeatherForm.valid">Submit</button>
            </form>
            <br>
            <h5>Current weather:</h5>
            <p>main: {{mainWeather}}</p>
            <p>description: {{weatherDesc}}</p>
            <p>Current Temperature: {{temperature}} F</p>
            <p>Feels like: {{tempFeelsLike}} F</p>
            <p>Current Max Temperature: {{tempMax}} F</p>
            <p>Current Min Temperature: {{tempMin}} F</p>
            <p>Wind speed today: {{windSpeed}} m/s</p>
        </div>
    </div>
</div>