*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    background-color: #2c3e50;
    min-height: 10vh;
}

.navbar-brand{
    color: rgb(196, 196, 196);
    letter-spacing: 3px;
    font-size:30 px;
}
.navbar-toggler-icon{
    color:rgb(196, 196, 196);
}
.nav-item a{
    color:rgb(196, 196, 196);
    text-decoration: none;
    letter-spacing: 3px;
    font-size:20px;
}






